<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <form th:action="@{/book/bookOrder}" method="post">
            <label>id</label>
            <input id="id" name="id" type="text" th:value="${book.id}"> <br>
            <label>name</label>
            <input id="name" name="name" type="text" th:value="${book.name}"> <br>
            <label>category</label>
            <input id="category" name="category" type="text" th:value="${book.category}"> <br>
            <label>origin_price</label>
            <input id="origin_price" name="origin_price" type="text" th:value="${book.origin_price}"> <br>
            <label>discount_price</label>
            <input id="discount_price" name="discount_price" type="text" th:value="${book.discount_price}"> <br>
            <label>결제방식</label>
            <input type="radio" th:field="${book.pay_method}" value="true"/>
            <label th:for="pay_method">카드</label>
            <input type="radio" th:field="${book.pay_method}" value="false"/>
            <label th:for="pay_method">현금</label>
            <p th:errors="${book.pay_method}">Incorrect date</p>
            <br>
            <label>pay_amount</label>
            <input id="pay_amount" name="pay_amount" type="text" th:value="${book.pay_amount}"> <br>
            <p th:errors="${book.pay_amount}">Incorrect date</p>
            <label>change_amount</label>
            <input id="change_amount" name="change_amount" type="text" th:value="${book.change_amount}"> <br>
            <button type="submit">주문</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>